select{
    box-shadow: inset 0 1px 4px rgba(0,0,0,.1), 0 0 0 transparent;
    background-color: #f3f7f7;
    border: 0;
    border-radius: 0;
    height: 45px;
    outline: none;
    font-size: 16px;
    padding: 0.5rem 2rem;
    font-weight: 500;
}
@media (max-width: 992px){
    select{
    font-size: 14px;
    height: 40px;
    padding: 0.4rem 0.9rem;
  }
 
}

@media (max-width: 768px){
  select{
    font-size: 12px;
    padding: 0.3rem 0.4rem;
    height: 35px;
  }
}

@media (max-width: 560px){
 select{
    font-size: 10px;
    height: 30px;
  }
}

@media (max-width: 492px){
    select{
      font-size: 9px;
      padding: 0.3rem 0.3rem;
      height: 27px;
    }
}

@media (max-width: 420px){
   
      select{
        font-size: 2vw;
        height: 6vw;
      }

 }
@media (max-width: 311px){
   
      select{
        font-size: 3vw;
        padding: 0.1rem 0.1rem;
        height: 6vw;
      }

 }
